{% extends "index/web_mdl.html" %}

{% block content %}

    <div class="container">
    <a href="/depart/add/" class="btn btn-success">添加部门</a>
    <form method="get">
        <div class="form-group" style="float: right">
            <input type="text" class="form-control" name="search" placeholder="Search"
                   value="{{ search_value }}">
            <button class="btn btn-default" type="submit">查询</button>
        </div>
    </form>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">部门表</h3>
            </div>
            <div class="panel-body">
                <table class="table">

                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>部门</th>
                        <th>操作</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data_list %}
                        <tr>
                            <th scope="row">{{ data.id }}</th>
                            <td>{{ data.title }}</td>
                            <td style="color: green">
                                <a href="/depart/{{ data.id }}/del">删除</a>
                                <a href="/depart/{{ data.id }}/modify">修改</a>
                            </td>

                        </tr>

                    {% endfor %}




                    </tbody>
                </table>
            </div>
        </div>

        {% if page_html %}
            <ul class="pagination">
                {{ page_html|safe }}
            </ul>
        {% endif %}

    </div>
{% endblock %}