{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block css %}

    {% endblock %}
</head>
<body>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.unicom_role == 1 %}
                    <li class="active"><a href="/depart/">部门列表</a></li>
                    <li class="active"><a href="/user/">员工列表</a></li>
                    <li class="active"><a href="/asset/">资产页面</a></li>
                    <li class="active"><a href="/task/">任务安排</a></li>
                    <li class="active"><a href="/perform/">绩效展示</a></li>

                {% elif request.unicom_role == 2 %}
                    <li class="active"><a href="/depart/">部门列表</a></li>
                    <li class="active"><a href="/user/">员工列表</a></li>
                    <li class="active"><a href="/asset/">资产页面</a></li>
                    <li class="active"><a href="/admin_role/admin_list/">员工管理</a></li>
                    <li class="active"><a href="/task/">任务安排</a></li>
                    <li class="active"><a href="/perform/">绩效管理</a></li>

                {% elif request.unicom_role == 3 %}
                    <li class="active"><a href="/depart/">部门列表</a></li>
                    <li class="active"><a href="/user/">员工列表</a></li>
                    <li class="active"><a href="/asset/">资产页面</a></li>
                    <li class="active"><a href="/admin_role/admin_list/">员工管理</a></li>
                    <li class="active"><a href="/task/">任务安排</a></li>
                    <li class="active"><a href="/perform/">绩效管理</a></li>
                {% endif %}



            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="active"><a href="">{{ request.session.info.username }}</a></li>
                <li class="active"><a href="/logout/">登出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

{% block content %}

{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% block js %}

{% endblock %}
</body>
</html>